* {
    /* * representa todo o conteúdo da pagina */
    margin: 0;
    box-sizing: border-box;
    /*Para conta o tamanho a partir da borda*/
    padding-bottom: 0;
}

:root {
    font-size: 62.5%;
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(165, 193, 197);
}

.card-login {
    height: 35rem;
    width: 55rem;
    padding: 3rem;

    background-color: white;

    border: solid 1px black;
    border-radius: 0.7rem;    
    box-shadow: 0 0 2rem 0.5rem rgba(0, 0, 0, 0.5);    
}

.card-login-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 8rem;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 2rem;
}

.card-login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 25rem;
}

input[type="text"],
input[type="password"] {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
}

button {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-top: 2rem;
}

button:hover {
    background-color: #45a049;
}